<div class="comment-header">
  <div class="left-header">
    <div class="header-title">
      CHAT TOOL
    </div>
  </div>
  <div class="right-header">
    <div class="exit-button">
      <a href="#">チャット終了</a>
    </div>
  </div>
</div>

<div class="comments">
  <div class="comment">
    <div class="upper-comment">
      <div class="comment-user">
        Tom
      </div>
      <div class="comment-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-comment">
      <div class="comment-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="upper-comment">
      <div class="comment-user">
        Tom
      </div>
      <div class="comment-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-comment">
      <div class="comment-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-comment" placeholder= "コメントを入力してください">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>