<div class="user-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-partner">
    <a href="#">チャット作成</a>
  </div>
</div>

<div class="talk-partner">
  <div class="partner">
    <div class="partner-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="partner">
    <div class="partner-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>