.wrapper {
  display: flex;
}

.user-table {
  background-color: #4acff0;
  width: 230px;
  height: 100vh;
}
.user-header {
  height: 90px;
  padding: 0 20px;
  background-color: #00727a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-partner a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: white;
  text-decoration: none;
}

.talk-partner {
  background-color:  #1c9aa3;
  height: calc(100vh - 90px);
  padding: 0 20px;
  overflow: scroll;
}
.partner {
  padding: 20px 0 40px;
}

.partner-name a {
  text-decoration: none;
  color: white;
}

.chat {
  background-color: #61f4ff;
  width: calc(100vw - 230px);
}
.comment-header {
  height: 90px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.exit-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}
.comments {
  background-color: #befbff;
  height: calc(100vh - 90px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.comment {
  margin: 10px 0 0 0;
}

.upper-comment{
  display: flex;
}

.comment-user {
  color: #434a54;
  font-size: 16px;
}

.comment-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-comment {
  margin-top: 10px;
}

.comment-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}
.form {
  background-color: #c4c1c1;
  height: 90px;
  padding: 20px 40px;
  overflow: scroll;
  display: flex;
}

.form-input {
  background-color: white;
  border: 3px solid rgb(50, 4, 255);
  display: flex;
  width: 100%;
}

.form-comment {
  border: none;
  height: 44px;
  width: 100%;
  padding-left: 8px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 10px;
  background-color: lightblue;
  color: white;
  padding: 10px;
  width: 60px;
  margin: 5px 5px;
  text-align: center;
}

.hidden {
  display: none;
}